#indexBottomImage{
	float: right;
	margin-right: 10px;
	margin-top: 10px;
}

.registrationForm{
	height: 455px;
	overflow-y:scroll;
}

	.registrationForm .littleBox select{
		float: left;
		margin-right: 10px;
	}
	
	.registrationForm button{
		clear: both;
	}