#indexBottomImage{
	float: right;
	margin-right: 10px;
	margin-top: 10px;
}

.registrationForm{
	max-height: 430px;
	overflow-y:scroll;
}

	.registrationForm .littleBox select{
		float: left;
		margin-right: 10px;
	}
	
	.registrationForm button{
		clear: both;
	}
	
	.registrationForm input,select{
		margin-bottom: 10px;
	}

.messageBox{
	width: 50%;
	margin: 0 auto;
	text-align: center;
}

.controlpanelBreak{
	width: 100%;
	height:1px;
	background-color: black;
	margin-top: 20px;
	clear: both;
}

#profileWrapper{
	width:90%;
	margin: 0 auto;
}

#profileImage{
	width: 160px;
	height: 160px;
	background-color: #ccf;
	float: left;
	margin-bottom: 20px;
}


.infoColumn{
	float: left;
	margin-right: 50px;
	min-height: 260px;
	width: 220px;
}

	.infoColumn h2{
		text-align: center;
		font-size: 18px;
	}
	
	.infoColumn p{
	}

.column{
	float: left;
	margin-left: 50px;
	width: 240px;
	height: 160px;
}

#profileShortInfo .column p{
	margin: 0;
}

#profileDescription{
	float: left;
	width: 410px;
	border-left: 1px solid black;
	height: 160px;
	overflow-y: scroll;
}

#profileDescription p{
	margin-left: 20px;
}
#profileTraitsInformation{
	margin-bottom: 20px;
	min-height: 200px;
	clear: both;
	width: 90%;
	margin: 0 auto;
}










